fastapi
uvicorn[standard]
pymongo
python-dotenv
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
simhash
aiofiles
pymupdf
PyPDF2
python-docx
datasketch
scipy
openpyxl
python-pptx
xlrd
striprtf
requests
pytest